.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 12, 12);
    box-shadow: 5px 3px 10px rgb(105, 105, 105) inset;
}

.container-aceite {
    width: 60%;
    height: 70%;
    transition: 350ms ease;
}

.container-aceite:hover {
    width: 70%;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    border-radius: 3px;
    background-color: rgba(0, 255, 255, 0.07);
}

.caracteristicas {
    width: 30%;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
    margin-left: 25 px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.898);
    box-shadow: 2px 2px 10px #333;
}

.aceite {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(40, 40, 48);
    box-shadow: 1px 1px 10px #333 inset;
    border-radius: 10px;
}

.specs {
    width: 80%;
    height: 50%;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.165);
}

.modelo {
    color: rgb(217, 230, 230);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.precio {
    color: olivedrab;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.comprar {
    width: 60%;
    height: 30%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: rgb(0, 242, 105);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #191818;
    text-align: center;
    transition: 350ms ease;
}

.comprar:hover {
    background-color: rgb(0, 255, 110);
    box-shadow: 5px 5px 10px #191818;
    transform: translateY(-2px);
    width: 65%;
}

.aceite-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    object-fit: contain;
}

.aceite-imagen img {
    max-height: 100%;
    max-width: 100%;
}