.InfoPersonal {
    background-color: #989595;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 5px 7px rgb(23, 23, 23);
}

.Contain {
    padding: 10px;
    width: 100%;
    height: 70%;
}

thead h1 {
    text-align: center;
    color: #333;
}

.ImgP {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.FlexContainer {
    display: flex;
    border: 1px solid #333;
    background: rgb(54, 54, 48);
    width: 95%;
    height: 80%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.Caja1 {
    border: 1px solid rgb(103, 81, 40);
    background-color: white;
    width: 30%;
    height: 33%;
    text-align: center;
    margin: 3px;
}

.Caja2 {
    border: 1px solid rgb(103, 81, 40);
    background-color: white;
    width: 35%;
    max-height: 60vh;
    height: 65%;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}

.Caja3 {
    border: 1px solid rgb(103, 81, 40);
    background-color: white;
    width: 30%;
    height: 60%;
    margin: 5px;
}

.Slider {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.Slides {
    display: flex;
    width: 200%;
    animation: Slide ease infinite 14s;
}

.Slide {
    width: 100%;
    flex-shrink: 0;
}

@keyframes Slide {
    0% {
        transform: translateX(0);
    }
    16.6% {
        transform: translateX(-100%);
    }
    33.3% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-300%);
    }
    66.6% {
        transform: translateX(-200%);
    }
    83.3% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.Slide img {
    height: 300px;
}

.SlideText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
}